@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  flex-grow: 1;
}

::-webkit-scrollbar {
  display: none;
}

/* .hover-clickable-card:hover {
  background-color: lightgray; 
} */